//熱門特展
.content-buy-tickets{
    background: url(https://images.unsplash.com/photo-1506846540181-347008948fff?ixid=MnwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MzN8NjIyNDgyMjB8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
    background-size: cover;
    background-repeat: no-repeat;
    h2{
        margin-top: 254px;
        @include pc{
            margin-top: 167px;
        }
    }
    @include pc{
        padding-left: 95px;
    }
}
.btn-list{
    margin-bottom: 90px;
    @include pc{
        margin-bottom: 177px;
    }
    button{
        width: 165px;
        height: 44px;
    }
}
//nav
.nav-scroller {
    height: 2.75rem; /* 隱藏下方捲軸 */
    overflow-y: hidden; 
    border-bottom: 1px solid #707070;
}
.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    /* 隱藏下方捲軸 */
    padding-bottom: 1rem;
    overflow-x:auto;
    white-space: nowrap;
}
//
.popular{
    img{
        height: 345px;
        object-fit: cover;
    }
}
.popular-month{
    // width: 127px;
    @include pc{
        width: 39px;
        padding-bottom: 90px;
    }
}
.popular-introduce{
    @include pc{
        width: 540px;
    }
}